{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/replay.css'%}" type="text/css">
    <title>Setting</title>
</head>
<body>
    <div class="top_blok">
        <div class="text_top_block" >
            {% if  user.is_authenticated %}
            <ul>Сайт знакомств</ul>
            
            <ul ><a href = '/message/{{user.setting_user.id}}'>Сообщения </a></ul>
            <ul><a href = '/'>Знакомства</a></ul>
            <ul><a href = '/bloger'>Статьи</a></ul>
            <ul ><a href = '/settings_user'>Мой профиль </a></ul>
            {%else%}
                <ul ><a href = '/settings_user'> Вход </a></ul>
                <ul><a href = '/'>Знакомства</a></ul>
            {% endif %}
        </div>

    </div>
    <div class="text_div_block_regist">
        <form method='POST' >
            {% csrf_token %}
            
            <div class="form-left-decoration"></div>
            <div class="form-right-decoration"></div>
            <div class="circle"></div>
            <div class="form-inner">
            <h3>Изменить пароль</h3>
            <p>Логин:  <input type="text"  name = 'username'></p>
            <p>E-mail: <input type="email"  name = 'email'></p>
            <p>Новый пароль: <input type="text"  name ='password'></p>
            <p>Подтверждение  пароля: <input type="text" name = 'password2'></p>
            {% if error %}
                <div style="color:red;">{{ error }}</div>
            {% endif %}     
            <ul><button name = 'entrance'>Сохранить</button></ul>     
              
            </div>
        </form>
        